﻿@model DocumentMoonAtaVm
@{
    ViewData["Title"] = "Auto789";
}
<div class="modal" id="popUpModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @Html.Raw(@Model?.HomeModalPopUp)
        @*<p>Liên hệ hỗ trợ.</p>
        <ul>
            <li>
                <a href='https://www.facebook.com/maxlego1999/' target='_blank'>Facebook</a>
            </li>
            <li>
                <a href='tel:+84382161123'>Zalo</a>: 0382161123
            </li>
            <li>
                <a href='https://www.facebook.com/groups/224875129055734' target='_blank'>Group Facebook</a>
            </li>
            <li>
                <a href='https://zalo.me/g/hmfhcn885' target='_blank'>Group Zalo</a>
            </li>
            <li>
                <a href='https://t.me/auto789MoonAta' target='_blank'>Group TeleGram</a>
            </li>
        </ul>*@
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
@section Scripts{
    <script>
        $('#popUpModal').modal('show');
    </script>
}

<nav class="navbar navbar-area navbar-expand-lg nav-absolute white nav-style-01">
    <div class="container nav-container">
        <div class="responsive-mobile-menu">
            <div class="logo-wrapper">
                <a href="/" class="logo">
                    <h2>Auto789</h2>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appside_main_menu"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="appside_main_menu">
            <ul class="navbar-nav">
                @*<li class="current-menu-item">
                    <a href="#">TRANG CHỦ</a>
                </li>*@
                <li><a data-toggle="modal" data-target="#popUpModal" href="#">HỖ TRỢ</a></li>
                <li><a href="#about">HƯỚNG DẪN SỬ DỤNG</a></li>
                <li><a href="#dowload-tut">DOWLOAD TOOL</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- header area start  -->
<header class="header-area header-bg" id="home">
    <div class="shape-1"><img src="~/images/shape/01.png" alt=""></div>
    <div class="shape-2"><img src="~/images/shape/02.png" alt=""></div>
    <div class="shape-3"><img src="~/images/shape/03.png" alt=""></div>
    <div class="header-right-image wow zoomIn">
        <img src="~/images/how-it-works-image.png" alt="header right image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="header-inner">
                    <h1 class="title wow fadeInDown">Giới Thiệu Auto789-MoonAta</h1>
                    <p>Auto789 được xây dựng bởi chuyên gia có 5 năm kinh nghiệm trong lĩnh vực auto.</p>
                    <p>Phương pháp đa dạng, chạy hàng trăm nghàn phương pháp cùng lúc “Có thể chạy giả lập với thống kê trong quá khứ để biết phương pháp của bạn trong quá khứ lãi hay lỗ”
                        Thao tác đơn giản đầy đủ chức năng</p>
                    <h3>Auto789 Kiếm Tiền Theo Cách Của Bạn</h3>
                    @*<p>Đa dạng về quản lý vốn:</p>
                    <p>+Gấp Lose</p>
                    <p>+Gấp Win</p>
                    <p>+Gấp lose kết hợp gấp win (Victor)</p>
                    <p>+Tiền tăng giảm (Fibonaci)</p>
                    <p>Dễ dàng sử dụng Và sử dụng Free khi đăng ký dưới hệ thống của Auto789 hoặc F1-F7 của Auto 789</p>
                    <p></p>*@
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end  -->
<!-- video area start -->
<section class="video-area" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title">
                    <!-- section title -->
                    <h3 class="title extra wow fadeInDown">HƯỚNG DẪN SỬ DỤNG</h3>

                </div><!-- //. section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="img-with-video">
                    <div class="img-wrap">
                        <img src="~/images/video-image.jpg" alt="">
                        <div class="hover">
                            <a href="@Model?.UrlVideo" class="video-play-btn mfp-iframe"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <p>Thao tác đơn giản đầy đủ chức năng</p>
                    <p>Đa dạng về quản lý vốn:</p>
                    <p>+ Gấp Lose</p>
                    <p>+ Gấp Win</p>
                    <p>+ Gấp lose kết hợp gấp win (Victor)</p>
                    <p>+ Tiền tăng giảm (Fibonaci)</p>
                    <p>Dễ dàng sử dụng Free khi đăng ký dưới hệ thống của Auto789 hoặc F1-F7 của Auto789</p>                    
                    <p></p>
                    <div class="btn-wrapper wow fadeInUp">
                        <a href="@Model?.FileUrl" class="boxed-btn btn-rounded">Tải hướng dẫn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- video area end -->
<!-- team member area start -->
<section class="team-member-area" id="dowload-tut">
    <div class="bg-shape-1">
        <img src="~/images/contact-map-bg.jpg" />
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="download-area-wrapper margin-top-120">
                    <!-- download area wrapper -->
                    <h3 class="title wow fadeInDown">DOWNLOAD TOOL</h3>
                    @*<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor  tempor incididunt ut labore dolore magna.</p>*@
                    <div class="btn-wrapper">
                        <a asp-action="DownloadTool" class="boxed-btn btn-rounded gd-bg-3">Download</a>
                    </div>
                </div><!-- //. download area wrapper -->
            </div>
        </div>

    </div>
</section>
<!-- team member area end -->
<!-- footer area start -->
<footer class="footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="row d-flex ">@*justify-content-center text-center*@
                <div class="col-lg-6 col-md-6">
                    <div class="footer-widget about_widget">
                        <h3>Mua bán USDT</h3>
                        <p>Liên hệ trực tiếp</p>
                        <p>Sđt: 0382161123</p>
                        <p>Zalo: 0382161123</p>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/maxlego1999/"><i class="fab fa-facebook-f"> acebook</i></a></li>
                            @*<li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>*@
                        </ul>
                    </div>
                </div>
                 <div class="col-lg-6 col-md-6">
                    <div class="footer-widget about_widget">
                        <h3>Tuyên bố miễn trừ trách nhiệm</h3>
                        <p><a href="/">Auto789.net</a> cung cấp hệ thống thống kê kết quả mang tính tham khảo và các dịch vụ chạy Auto cho người dùng.</p>
                        <p>Nghiêm cấm mọi hành vi sử dụng cho mục đích đánh bạc. Những hành vi vi phạm pháp luật <a href="/">Auto789.net</a> không hoàn toàn chịu tránh nhiệm.</p>
                        <p><a href="/">Auto789.net</a> có quyền khóa/tạm ngừng tài khoản nếu sử dụng sai mục đích, có các giấu hiệu lừa đảo, có giấu hiệu mạo danh <a href="/">Auto789.net</a> để trao đổi, mua bán thu lợi bất chính.</p>
                        <p>Tất cả mọi bản quyền thuộc về <a href="/">Auto789.net</a>, vui lòng không sao chép dưới mọi hình thức.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- footer area end -->
<!-- preloader area start -->
<div class="preloader-wrapper" id="preloader">
    <div class="preloader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
</div>

<!-- preloader area end -->
<!-- back to top area start -->
<div class="back-to-top">
    <i class="fas fa-angle-up"></i>
</div>