﻿
@model UserInfoResponse

    <li class="nav-item dropdown">
        <a  href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avtar-image" src="/images/no-image.jpg" alt="" id="common-avatar">
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="index.html">Quản lý từ khóa</a>
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
        </div>
    </li>
