﻿
@model CreateUserVm

<form asp-action="CreateUser" method="post" class="alt-font text-extra-dark-gray" data-name="ajaxForm" id="form-create-user">

    <div class="form-group row">
        <label asp-for="UserName" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control " />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Password" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control " />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="clearfix">
        <div class="float-right">
            <button type="button" data-dismiss="modal" class="btn btn-outline-dark">Cancel</button>
            <button type="submit" class="btn btn-primary">Save change</button>
        </div>
    </div>

</form>
