﻿@model PagedResult<UserVm>
@{
    ViewData["Title"] = "User";
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12  ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
                @if (!User.IsInRole(SystemConstants.Roles.F2))
                {
                    <a class="btn btn-primary btn-sm" href="#" onclick="createUser(); return false;">Create</a>
                }

            </div>
            <div class="card-body">
                <form asp-action="Index" method="get" class="mb-4">
                    <div class="form-group row">
                        <label for="username" class="col-sm-3 font-weight-bolder text-dark col-form-label">UserName</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="username" value="@Context.Request.Query["username"]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 font-weight-bolder text-dark col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="email" value="@Context.Request.Query["email"]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fas fa-search"></i>
                                <span class="ml-1">Search</span>
                            </button>
                            <a asp-action="Index" class="btn btn-success btn-sm ml-2">
                                <i class="fas fa-sync-alt"></i>
                                <span class="ml-1">Reset</span>
                            </a>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Role
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @item.UserName
                                    </td>
                                    <td>
                                        @if (item.Roles != null)
                                        {
                                            <span>
                                                @string.Join(", ", item.Roles)
                                            </span>
                                        }
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-primary" data-toggle="btn-confirm" data-title="Are you sure reset pass user?" data-href="@Url.Action("ResetPassword", new { userId = item.Id })" title="Delete">Reset Pass</button>
                                        @if ((item.UserName != "superadmin"))
                                        {
                                            <button class="btn btn-sm btn-danger shadow-sm" data-toggle="btn-confirm" data-title="Are you sure delete user?" data-href="@Url.Action("DeleteUser", new { userId = item.Id })" title="Delete">Delete</button>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @if (Model.PageCount > 1)
                {
                    <div>
                        @await Html.PartialAsync("_Pager", new PagedResultBase()
                   {
                       PageNumber = Model.PageNumber,
                       PageSize = Model.PageSize,
                       TotalItemCount = Model.TotalItemCount,
                       PageUrl = Url.Action("Index")
                   })
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="set-role" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(".user-nav").addClass("active");

        function editUserRole(id) {
            $("#set-role .modal-body").html('<i class="fas fa-fw fa-spin fa-spinner"></i>');
            $("#set-role").modal('show');

            $.ajax({
                method: "GET",
                url: '@Url.Action("EditUserRole", "User")',
                data: { id: id },
                success: function (res) {
                    $("#set-role .modal-body").html(res);

                    $('#form-edit-role').submit(function (e) {
                        e.preventDefault();
                        $.ajax({
                            method: $('#form-edit-role').attr('method'),
                            url: $('#form-edit-role').attr('action'),
                            data: $('#form-edit-role').serializeArray(),
                            success: function (res) {
                                location.reload();
                            }
                        });
                    });
                }, error: function (error) {
                    alert("Error!");
                }
            });
        }
          function createUser() {
              $("#CreateUser .modal-body").html('<i class="fas fa-fw fa-spin fa-spinner"></i>');
              $("#CreateUser").modal('show');

            $.ajax({
                method: "GET",
                url: '@Url.Action("CreateUser", "User")',
                success: function (res) {
                    $("#CreateUser .modal-body").html(res);

                    $('form[data-name="ajaxForm"]').submit(function (e) {
                        e.preventDefault();

                        var $form = $(this);
                        var $btnSubmit = $form.find("button[type='submit']");

                        $btnSubmit.attr("disabled", "true");
                        $.ajax({
                            method: $form.attr("method"),
                            url: $form.attr("action"),
                            data: $form.serializeArray(),
                            beforeSend: function () {
                                $btnSubmit.append(`<i class="fas fa-sync-alt fa-fw fa-spin"></i>`);
                            },
                            complete: function () {
                                $btnSubmit.find("i").remove();
                            },
                            success: function (res) {
                                $form.find(".field-validation-valid").empty();
                                if (res.isSuccessed == true) {
                                    localStorage.setItem("IsSuccessed", res.isSuccessed);
                                    localStorage.setItem("Message", "Successed!");

                                    location.reload();
                                } else if (res.validationErrors != null && res.validationErrors.length) {
                                    $.each(res.validationErrors, function (i, v) {
                                        $form.find("span[data-valmsg-for='" + v.pos + "']").html(v.error);
                                    });
                                    $btnSubmit.removeAttr("disabled");
                                } else if (res.message != null) {
                                    toastr.error(res.message);
                                }
                            }
                        });
                    });
                }, error: function (error) {
                    alert("Error!");
                }
            });
        }
        function resetPassword(id) {
            $.ajax({
                method: "POST",
                url: "/Admin/User/ResetPassword",
                data: { userId:id},
                success: function (res) {
                    if (res.isSuccessed == true) {
                        toastr.info("Success");
                    } else if (res.message != null) {
                        toastr.error(res.message);
                    }
                }
            });
        }

    </script>
}