﻿<!-- Start Footer Area -->
<footer>
    <div class="shape-top"></div>
    <div class="container">
        <!-- End Footer Top  Area -->
        <div class="top-footer">
            <div class="row">
                <!-- Start Column 1 -->
                <div class="d-flex justify-content-center text-center w-100">
                    <div class="col-md-6">
                        <div class="footer-logo">
                            <h4>BUFFTRAFFIC</h4>
                        </div>
                        <p>
                            Dịch vụ tăng traffic thật cho website  với người dùng thật 100%. Toàn bộ traffic được mọi người tìm kiếm qua Google.
                        </p>
                        <div class="footer-social-links">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-instagram"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End Footer Top  Area -->
        <!-- Start Copyrights Area -->
        <div class="copyrights">
            <p>Howkteam © 2022</p>
        </div>
        <!-- End Copyrights Area -->
    </div>
</footer>
<!-- End Footer Area -->
<!-- Start To Top Button -->
<div id="back-to-top">
    <a class="top" id="top" href="#header-area"> <i class="ti-angle-up"></i> </a>
</div>