﻿<header class="header-area" id="header-area">
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <div class="site-logo">
                <a class="navbar-brand" href="/">
                    <h4>BUFFTRAFFIC</h4>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="ti-menu"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item"><a href="#" data-scroll-nav="0">TRANG CHỦ</a></li>
                    <li class="nav-item"><a href="#" data-scroll-nav="1">GIỚI THIỆU</a></li>
                    <li class="nav-item"><a href="#" data-scroll-nav="8">MUA TRAFFIC</a></li>
                    @await Html.PartialAsync("_LoginPartial")
                   
                </ul>
            </div>
        </div>
    </nav>
</header>