﻿@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- icofont -->
    <link href="~/css/fontawesome.5.7.2.css" rel="stylesheet" />
    <!-- flaticon -->
    <link href="~/css/flaticon.css" rel="stylesheet" />
    <!-- animate.css -->
    <link href="~/css/animate.css" rel="stylesheet" />
    <!-- Owl Carousel -->
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <!-- magnific popup -->
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <!-- stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive -->
    <link href="~/css/responsive.css" rel="stylesheet" />

    @await RenderSectionAsync("css", required: false)
</head>
<body>
    @RenderBody()

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
