﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Admin</title>
    <link href="~/admin/css/styles.css" rel="stylesheet" />
    <link href="~/admin/libs/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />

    <link href="~/admin/css/site.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="nav-fixed" id="page-top">
    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
        @await Html.PartialAsync("_NavTopbar")
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            @await Html.PartialAsync("_SideBar")
        </div>
        <div id="layoutSidenav_content">
            <main class="container-fluid py-4">
                @RenderBody()
            </main>
            <footer class="footer mt-auto footer-light">
                <div class="container-fluid">
                    <div class="text-center">
                        <div>© Copyright @DateTime.Now.Year by <a href="/">Kteam.</a> All Rights Reserved.</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/admin/libs/feather/feather.min.js"></script>
    <script src="~/admin/js/scripts.js"></script>
    <script src="~/admin/libs/ckeditor/ckeditor.js"></script>

    <script src="~/lib/toastr/toastr.min.js"></script>

    <script src="~/admin/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
