﻿<nav class="sidenav shadow-right sidenav-dark">
    <div class="sidenav-menu">
        <div class="nav accordion" id="accordionSidenav">
            <a class="nav-link user-nav" href="@Url.Action("Index", "User")">
                <div class="nav-link-icon"><i data-feather="users"></i></div>
                User
            </a>
            <a class="nav-link acc-nav" href="@Url.Action("Index", "AccountMoonAta")">
                <div class="nav-link-icon"><i data-feather="file-text"></i></div>
                Acc MoonAta
            </a>
            <a class="nav-link history-nav" href="@Url.Action("Index", "MoonAtaCandleHistory")">
                <div class="nav-link-icon"><i data-feather="file-text"></i></div>
                MoonAtaCandleHistory
            </a>
            @if (User.IsInRole(SystemConstants.Roles.Admin))
            {
                <a class="nav-link document-nav" href="@Url.Action("Index", "DocumentMoonAta")">
                    <div class="nav-link-icon"><i data-feather="file-text"></i></div>
                    Tài Liệu
                </a>
            }

        </div>
    </div>
</nav>