﻿@model CreateDocumentMoonAtaVm
@{
    ViewBag.Title = "Tài Liệu";
}
<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12  ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">

                <form asp-action="Create" data-name="ajaxFormUpload" enctype="multipart/form-data">

                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <label asp-for="UrlVideo" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="UrlVideo" class="form-control " />
                            <span asp-validation-for="UrlVideo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="IFileData" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            @if (!string.IsNullOrEmpty(Model.FileName))
                            {
                                <a href="@Model.FileUrl">@Model.FileName</a><br />
                            }
                            <input asp-for="IFileData" />
                            <span asp-validation-for="IFileData" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <button type="submit" class="d-inline-block btn btn-primary shadow-sm"><i class="fas fa-save fa-fw text-white-50"></i> Save change</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".document-nav").addClass("active");
    </script>
}