﻿
@{
    ViewBag.Title = "500 - Internal Server Error";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>500 - Internal Server Error!</h1>
            <h2>
                An error occurred while processing your request.
            </h2>
        </div>
    </div>
</div>