﻿
@{
    ViewBag.Title = "404 - Page not found";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>404 - Page not found!</h1>
            <h2>
                Oops, better check that URL.
            </h2>
        </div>
    </div>
</div>