﻿@model GetAccountMoonAtaRequestVm
@{
    ViewData["Title"] = "MoonAtaCandleHistory";
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12  ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <form asp-action="ExportFile" method="post">
                    <div class="divConfigDate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-600">Ngày Bắt Đầu</label>
                                    <input type="datetime-local" class="form-control" asp-for="StartDate" asp-format="{0:yyyy-MM-ddTHH:mm}" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-600">Ngày Kết Thúc</label>
                                    <input type="datetime-local" class="form-control" asp-for="EndDate" asp-format="{0:yyyy-MM-ddTHH:mm}" >
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="bottom-confirm d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-sm" id="saveget">
                            <i data-feather="check-circle"></i>
                            Export
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

@section Scripts{
    <script>
        $(".history-nav").addClass("active");
    </script>
}
