﻿
@model UserInfoResponse


<li class="nav-item dropdown no-caret mr-3 mr-lg-0 dropdown-user">
    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="img-fluid" src="/images/avatar.svg" /></a>
    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
        <h6 class="dropdown-header d-flex align-items-center">
            <img class="dropdown-user-img" src="/images/avatar.svg" />
            <div class="dropdown-user-details">
                <div class="dropdown-user-details-name">@Model.UserName</div>
                <div class="dropdown-user-details-email">@Model.Email</div>
            </div>
        </h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="@Url.Action("ChangePassword", "User", new { area = "Admin" })">
            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
            Đổi mật khẩu
        </a>

        <a class="dropdown-item" href="@Url.Action("Logout", "Account", new { area = "" })">
            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
            Logout
        </a>

        <div class="d-none" id="common-userId">@Model.Id</div>
    </div>
</li>