﻿@model ChangePasswordVm
@{
    ViewData["Title"] = "Change Password";
}

<div class="admin-area">
    @await Html.PartialAsync("_NavbarUser")

    <div class="content-admin">
        <!-- Tab panes -->

        <div id="note" class="container">
            <div class="title-tab text-center">
                <h4><i class="ion-gear-b"></i> Account Settings</h4>
            </div>
            <div class="col-md-6 form-change-info">
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <label asp-for="OldPassword" class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NewPassword" class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-default">Change password</button>
                            <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Manage">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>


</div>

@section Scripts{
    <script>
        $('.tab-setting').addClass("active");
    </script>
}

