﻿@model EditProfileVm
@{
    ViewData["Title"] = "Edit Profile";
}
<div class="admin-area">
    @await Html.PartialAsync("_NavbarUser")

    <div class="content-admin">
        <!-- Tab panes -->

        <div id="note" class="container">
            <div class="title-tab text-center">
                <h4><i class="ion-gear-b"></i> Account Settings</h4>
            </div>
            <div class="col-md-6 form-change-info">
                <form asp-action="EditProfile" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="FirstName" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" asp-for="FirstName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-default">Submit</button>
                            <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Manage">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>


</div>

@section Scripts{
    <script>
        $('.tab-setting').addClass("active");
    </script>
}
