﻿@model ForgotPasswordVm
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<div class="page-header">
    <div class="container">
        <div class="title-box">
            <h1 class="title">QUÊN MẬT KHẨU</h1>
            <div class="breadcrumb">
                <span>
                    <a title="Homepage" href="index.php"><i class="ti ti-home"></i>&nbsp;&nbsp;Trang Chủ</a>
                </span>
                <span class="bread-sep">&nbsp; | &nbsp;</span>
                <span> Quên mật khẩu</span>
            </div>
        </div>
    </div>
    <div class="shape-bottom">
        <img src="/images/price-shape.svg" alt="shape" class="bottom-shape img-fluid">
    </div>
</div>
<section class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="login-form">
                        <div class="login-form-head">
                            <p>Nhập email để lấy lại mật khẩu</p>
                        </div>
                        <form asp-action="ForgotPassword" method="post">
                            <div class="form-group">
                                <label class="form-label" for="signinEmail">Email</label>
                                <div class="input-group">
                                    <div class="input-icon">
                                        <span class="ti-email"></span>
                                    </div>
                                    <input class="form-control" asp-for="Email" type="email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn theme-btn btn-block" type="submit">GỬI</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
