﻿@model LoginRequestVm
@{
    ViewData["Title"] = "Login";
}
<section class="login">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-md-6">
                <div class="text-center">
                    <h3>ĐĂNG NHẬP</h3>
                    <hr />
                </div>
                <div class="container-fluid">
                    <div class="login-form">

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="form-label" asp-for="UserName">UserName/Email</label>
                                <input type="text" class="form-control" asp-for="UserName" placeholder="Username" required="">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-label" asp-for="Password">
                                    Mật Khẩu
                                </label>
                                <input type="password" class="form-control" asp-for="Password" placeholder="Mật khẩu" aria-label="Password" required="">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">ĐĂNG NHẬP</button>
                            </div>
                            @*<div class="form-group login-desc text-center">
                                <p> Bạn chưa có tài khoản? <a asp-controller="Account" asp-action="Register">Đăng ký</a></p>
                                <p>  <a class="link-muted" asp-controller="Account" asp-action="ForgotPassword">Quên mật khẩu?</a></p>
                            </div>*@
                        }
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>





