﻿@model UserInfoResponse
@{
    ViewData["Title"] = "Manage";
}

<div class="admin-area">
    @await Html.PartialAsync("_NavbarUser")

    <div class="content-admin">
        <!-- Tab panes -->
        <div class="tab-content  mb-3">
            <div id="note" class="container tab-pane active">
                <div class="title-tab text-center">
                    <h4><i class="ion-gear-b"></i> Account Settings</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Plan Info</h5>
                        <hr />
                        @if (string.IsNullOrEmpty(Model.PlanName))
                        {
                            <p>Plan empty</p>
                        }
                        else
                        {
                            <p><b>Plan name:</b> @Model.PlanName</p>
                            <p><b>ExpiredDate:</b> @Model.ExpiredDate?.ToString("dd/MM/yyyy hh:mm:ss")</p>
                        }

                    </div>
                    <div class="col-md-6 form-change-info">
                        <h5>Accont Info</h5>
                        <hr />
                        <dl class="row">

                            <dt class="col-sm-3">
                                User Name
                            </dt>
                            <dd class="col-sm-9">
                                @Model.UserName
                            </dd>
                            <dt class="col-sm-3">
                                First Name
                            </dt>
                            <dd class="col-sm-9">
                                @Model.FirstName
                            </dd>
                            <dt class="col-sm-3">
                                Email
                            </dt>
                            <dd class="col-sm-9">
                                @Model.Email
                            </dd>
                            <dt class="col-sm-3">
                                Joined Date
                            </dt>
                            <dd class="col-sm-9">
                                @Model.JoinedDate.ToString("dd/MM/yyyy")
                            </dd>
                            <dt class="col-sm-3">
                                Password
                            </dt>
                            <dd class="col-sm-9">
                                <a asp-controller="Account" asp-action="ChangePassword">Change password</a>
                            </dd>
                            <dt class="col-sm-3">

                            </dt>
                            <dd class="col-sm-9">
                                <a asp-controller="Account" asp-action="EditProfile" class="btn btn-default">Edit profile</a>
                            </dd>
                        </dl>
                    </div>
                </div>


            </div>

        </div>
    </div>


</div>

@section Scripts{
    <script>
        $('.tab-setting').addClass("active");
    </script>
}
