﻿@model RegisterRequestVm
@{
    ViewData["Title"] = "Register";
}

<div class="page-header">
    <div class="container">
        <div class="title-box">
            <h1 class="title">ĐĂNG KÝ</h1>
            <div class="breadcrumb">
                <span>
                    <a title="Homepage" href="index.php"><i class="ti ti-home"></i>&nbsp;&nbsp;Trang Chủ</a>
                </span>
                <span class="bread-sep">&nbsp; | &nbsp;</span>
                <span> Đăng Ký</span>
            </div>
        </div>
    </div>
    <div class="shape-bottom">
        <img src="/images/price-shape.svg" alt="shape" class="bottom-shape img-fluid">
    </div>
</div>
<section class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="login-form">
                        <form method="post" asp-controller="Account" asp-action="Register">
                            <div class="form-group">
                                <label class="form-label" for="signinEmail">UserName/Email</label>
                                <div class="input-group">
                                    <div class="input-icon">
                                        <span class="ti-email"></span>
                                    </div>
                                    <input class="form-control" asp-for="Email" type="email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" asp-for="UserName">
                                    UserName
                                </label>
                                <div class="input-group">
                                    <div class="input-icon">
                                        <span class="ti-user"></span>
                                    </div>
                                    <input class="form-control" asp-for="UserName" type="text">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="UserName">
                                    Password
                                </label>
                                <div class="input-group">
                                    <div class="input-icon">
                                        <span class="ti-lock"></span>
                                    </div>
                                    <input class="form-control" asp-for="Password" type="password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="ConfirmPassword">
                                    Confirm Password
                                </label>
                                <div class="input-group">
                                    <div class="input-icon">
                                        <span class="ti-user"></span>
                                    </div>
                                    <input class="form-control" asp-for="ConfirmPassword" type="password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn theme-btn btn-block" type="submit">ĐĂNG KÝ</button>
                            </div>
                            <div class="form-group login-desc">
                                <p> Bạn đã có tài khoản? <a asp-controller="Account" asp-action="Login">Đăng nhập</a></p>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
 

