﻿@model ResetPasswordVm

<div class="row">
    <div class="col-md-5 form-account">
        <h2>FORGOT PASSWORD</h2>
        <p>Fill in the information to recover your password</p>
        <div class="listError"></div>
        <form asp-action="ResetPassword" method="post">

            <input asp-for="Code" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>