﻿@model DowloadFileVm
@{ 
    ViewData["Title"] = "Dowload File";
}

<div class="d-flex justify-content-center">
    <div class="col-md-8">
        <div class="frmSubmit">
            <form data-name="frmGetLink" asp-action="GetLinkDownLoad" class="frmGetLink">
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.DowloadToken)
                <div class="form-group row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" asp-for="Pass" placeholder="Nhập pass"><br />
                        <span asp-validation-for="Pass" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary mb-2">Dowload</button>
                    </div>
                </div>
            </form>
            <hr />
        </div>
        <div id="linkdowload" style="display:none">
        </div>
        <div class="divInfo">
            @Html.Raw(Model.Body)
        </div>

    </div>
</div>
